* {
    margin: 0;
    padding: 0;
}

h1 {
    background-color:darkslategrey;
    color:azure;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}

.choice {
    height: 165px;
    width: 165px;
    
}

.choice:hover{
    opacity: 0.5;
    cursor: pointer;
}

.choices {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2.5rem;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap : 4rem;
    margin-top: 2rem;
}

#machine-score, #human-score{
    font-size: 3rem;
}

.message-display{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-self: center;
}

.message{
    background-color:darkslategrey;
    color: whitesmoke;
    font-size: 2rem;
    margin-top: 2.5rem;
    padding: 1rem;
    border-radius: 1rem;
}